---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1 class="mr-2">Iniciativa "24 de Abril"</h1>
      <a
        target="_blank"
        
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>
   

      <p>
        El desafío más grande de este proyecto comienza hoy.
        Para que podamos presentar <strong>el proyecto de Ley en la legislatura</strong> para que este sea tratado y aprobado, debemos demostrar que la Ley es de interés para los porteños. 

        <br>
        <br>
        Para eso necesitamos tu <strong>firma y apoyo</strong>. Te dejamos una breve descripción de cómo nos podes ayudar a lo largo del camino.
        
      </p>
      <img src="/iniciativa24Grande.jpg" alt="asd">
      
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Redes Sociales:</div>
            <Socials /> 
            Instagram
          </div>
        )
      }
    </section>

    <Hr />

    
          <section id="featured">
            <h2>Un Poco Sobre la Iniciativa</h2>
            <br>
            <p>
              A través de la presentación de una<strong> Iniciativa Popular</strong> (ley 40 C.A.B.A), buscamos presentar y aprobar un proyecto de Ley para renombrar la actual plazoleta "Alejandro Petion" por "24 de Abril". Además, queremos <strong>construir un memorial</strong> que, no solo recuerde a las víctimas de <strong>Genocidio Armenio</strong>, sino también nuestra lucha como comunidad por su reconocimiento.
              <br>
              <br>
            Por último, no solo buscamos que seas parte firmando, sino que también queremos que, una vez aprobado el proyecto,<strong> los firmantes participen en la creación del memorial.</strong> Si te interesa leer el proyecto de Ley completo podes descargarlo <a style="color:orange" download="Proyecto_Ley_24_de_Abril.pdf" href="/proyecto_de_ley.pdf" class="button">
             <strong>ACA</strong><i class=""></i>
            </a>.
              <br>
              <br>
            Tenemos un camino largo por recorrer, pero no tenemos dudas de que lo vamos a lograr juntos!🇦🇷🇦🇲
            </p>
           
          </section>
          <Hr />
    

   
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
